<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>James Watkins</title>
        <link rel="manifest" href="/manifest.webmanifest">
    </head>

    {{#each ssheet}}
        <link rel="stylesheet" type="text/css" href={{this}} />
    {{/each}}

    <body>
        <div class="dimbg"></div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-other">
                    <span class="burger-menu"></span>
                    <span class="brand">James Watkins</span>
                </div>
                <div class="navbar-link-wrapper">
                    <span class="navbar-link">Home</span>
                    <span class="navbar-link">Item 2</span>
                    <span class="navbar-link">Item 3</span>
                    <span class="navbar-link">Item 4</span>                                                
                </div>
            </div>
            <div class="content">
                {{{body}}}
            </div>
            
            <div class="footer">
                &copy; James Watkins 2018
            </div>
        </div>
    </body>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main_scripts.js"></script>
    <script src={{page_js_loc}}></script>
</html> 