<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/script.js"></script>
    </head>

    <body>
        <div id="navbar">
            <img id="burger-menu" onclick="toggleSideNav();" src="/images/nav-ico.png">
            <div id="navbar-link-wrapper">
                <div class="navbar-link">Item 1</div>
                <div class="navbar-link">Item 2</div>
                <div class="navbar-link">Item 3</div>
                <div class="navbar-link">Item 4</div>
            </div>
        </div>
        <div id="small_screen_nav">
            <div class="small_screen_nav_item">Item 1</div>
            <div class="small_screen_nav_item">Item 2</div>
            <div class="small_screen_nav_item">Item 3</div>
            <div class="small_screen_nav_item">Item 4</div>
        </div>
        <div id="container">
            {{{body}}}
        </div>
        
    </body>
</html> 