<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/main_scripts.js"></script>
        <script src={{page_js_loc}}></script>
    </head>

    <body>
        <div id="navbar">
            <div id="navbar-other">
                <div id="burger-menu"></div>
            </div>
            <div id="navbar-link-wrapper">
                <div class="navbar-link">Item 1</div>
                <div class="navbar-link">Item 2</div>
                <div class="navbar-link">Item 3</div>
                <div class="navbar-link">Item 4</div>
                <div class="navbar-link">Item 4</div>
                <div class="navbar-link">Item 4</div>
                <div class="navbar-link">Item 4</div>                                                
            </div>
        </div>
        <div id="container">
            {{{body}}}
        </div>
        
    </body>
</html> 