.banner {
  width: 100%;
  height: 15em;
}

.content_wrapper {
  width: 100%;
}

.main_content {
  margin: 1em;
  min-height: 15em;
  background-color: #1e1e1e;
  box-shadow: 0 0 30px 5px black;
  border-radius: 0.5em;
  padding: 1em;
}

@media (min-width: 550px) {
  .banner {
    height: 20em;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 25em;
  }

  #content_wrapper {
    width: 70%;
  }
}