* {
  margin: 0;
  padding: 0; }

.container {
  background-color: #161111;
  min-height: 100vh; }

/* NAV */
.navbar {
  display: flex;
  width: 100%;
  color: white; 
  background-color: #000000;
  font-size: 1.5em;
  line-height: 2em;}

.burger-menu {
  background: url("/images/nav-ico.png") no-repeat center;
  width: 2em;
  height: 2em;
  z-index: 1000; }

.burger-menu:hover {
  cursor: pointer; }

.brand {
  padding: 0 1em; }

.navbar-link-wrapper {
  position: absolute;
  top: 2em;
  width: 40%;
  z-index: 1000; 
  transition: 0.5s left;
  display: none;
  flex-direction: column;
  background-color: inherit;
  box-shadow: 0 0 30px 5px black; }

.navbar-link-wrapper.visible {
  display: flex; }

.navbar-link {
  text-align: center; 
  transition: 0.5s color; }

.navbar-link:hover {
  cursor: pointer;
  color: darkgray; }

.navbar-other {
  width: 100%;
  display: flex;
  justify-content: space-between; }

/* CONTENT */

.content {
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto; 
  max-width: 1200px; }

/* FOOTER */

.footer {
  font-size: 0.8em;
  color: white;
  text-align: center;
  line-height: 2em; }

/* MEDIA QUERIES */

@media (min-width: 768px){
  .navbar-other {
    display: none;
  }

  .navbar-link-wrapper {
    position: initial;
    display: flex;
    width: 100%;
    flex-direction: row;
    box-shadow: none;
  }

  .navbar-link {
    width: 100%;
  }
}