* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: rgb(22, 17, 17);
    height: calc(100vh - 48px);
    transition: 0.5s;
}

/* NAV */
#navbar {
    width: 100%;
    min-height: 3em;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
}

#burger-menu {
    background: url("/images/nav-ico.png") no-repeat center;
    display: inline-block;
    width: 48px;
    height: 48px;
}

#burger-menu:hover {
    cursor: pointer;
}

#navbar-link-wrapper {
    display: none;
    flex-direction: column;
    width: 100%;
    line-height: 3em;
}

.navbar-link {
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navbar-link:hover {
    cursor: pointer;
    color: darkgray;
}

#navbar-other {
    width: 100%;
    display: flex;
    align-items: center;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
    #navbar-other {
        display: none;
    }

    #navbar {
        background-color: rgb(22, 17, 17);
        flex-direction: row;
    }

    #navbar-link-wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    #navbar-link-wrapper {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
    }
}